.game-header {
  width: 100%;
  @include flexbox-display-flex;
  @include flexbox-justify(space-between);

  .game-title {
    font-size: 4.5em;
    padding-left: 15px;
    width: 60%;
    display: inline-block;

    @media handheld, screen and (max-width: $width-iphone6) {
      font-size: 4.25em;
      width: 55%;
    }

    @media handheld, screen and (max-width: $width-iphone4) {
      font-size: 3.65em;
      width: 50%;
    }

    span {
      &:first-child {
        color: $red;

        @media handheld, screen and (max-width: $width-iphone6-plus) {
          line-height: 1.315em;
        }

        @media handheld, screen and (max-width: $width-iphone6) {
          line-height: 1.25em;
        }

        @media handheld, screen and (max-width: $width-iphone4) {
          line-height: 1em;
        }
      }
      &:nth-child(2) {
        color: $blue;
      }
      &:nth-child(3) {
        color: $yellow;
      }
    }

    div {
      width: 40px;
      height: 40px;
      background-color: $blue;
      display: inline-block;
      margin-left: .125em;

      @media handheld, screen and (max-width: $width-iphone6-plus) {
        width: 35px;
        height: 35px;
      }

      @media handheld, screen and (max-width: $width-iphone6) {
        width: 33px;
        height: 33px;
      }

      @media handheld, screen and (max-width: $width-iphone4) {
        width: 25px;
        height: 25px;
      }
    }
  }

  .game-stats-container {
    width: 61%;

    @media handheld, screen and (max-width: $width-iphone6-plus) {
      width: 80%;
    }

    @media handheld, screen and (max-width: $width-iphone6) {
      width: 75%;
    }

    @media handheld, screen and (max-width: $width-iphone4) {
      width: 65%;
    }

    .game-moves,
    .game-wins,
    .game-levels {
      text-align: center;
      padding: 10px 0 0;
      margin-right: 5px;
      width: 75px;
      height: 75px;
      float: right;
      background-color: $red;
      transition: all .5s ease-in-out;
      overflow: hidden;

      @media handheld, screen and (max-width: $width-iphone6-plus) {
        width: 65px;
        height: 65px;
        padding: 5px 0 0;
      }

      @media handheld, screen and (max-width: $width-iphone6) {
        width: 60px;
        height: 60px;
        padding: 5px 0 0;
      }

      @media handheld, screen and (max-width: $width-iphone4) {
        width: 45px;
        height: 45px;
        padding: 2px 0 0;
      }

      > p {
        font-size: 1.25em;
        color: white;
        margin: 0;

        + p {
          font-size: 1.75em;
          margin: 10px 0 0;

          @media handheld, screen and (max-width: $width-iphone6) {
            margin: 5px 0 0;
          }
        }

        @media handheld, screen and (max-width: $width-iphone4) {
          font-size: .85em;

          + p {
            font-size: 1.25em;
            margin: 0;
          }
        }
      }
    }

    .game-moves {
      margin-right: 15px;
    }

    .game-levels {
      @media handheld, screen and (max-width: $width-iphone4) {
        margin-right: .25em;
      }
    }

    .game-wins {
      @media handheld, screen and (max-width: $width-iphone4) {
        margin-right: 3px;
      }
    }
  }
}


.game-menu {
  width: 100%;
  height: 30px;
  margin-top: 20px;
  @include flexbox-display-flex;
  @include flexbox-justify(center);

  @media handheld, screen and (max-width: $width-iphone4) {
    margin: 15px 0;
  }

  @media handheld, screen and (min-height: $height-iphone5) {
    margin-top: 30px;
  }

  .redo,
  .undo,
  .restart {
    width: calc(100% / 3);
    color: $blue;
    @include flexbox-display-flex;
    @include flexbox-justify(center);
    font-size: 2em;

    .icon {
      font-size: 1.25em;
      color: $blue;
    }

    .redo-button,
    .undo-button,
    .restart-button {
      transition: all .35s ease;

      &:hover {
        color: $red;
        cursor: pointer;
      }
    }

    .redo-button,
    .restart-button {
      &:hover {
        @include rotate(360deg);
        @include transform-origin(37.5% 70%);
      }
    }

    .undo-button {
      &:hover {
        @include rotate(-360deg);
        @include transform-origin(50% 50%);
      }
    }
  }
}
