.game-header {
  width: 100%;
  @include flexbox-display-flex;
  @include flexbox-justify(space-between);

  .game-title {
    font-size: 4.5em;
    padding-left: 15px;
    width: 60%;
    display: inline-block;

    @media handheld, screen and (max-width: $mobile-width) {
      font-size: 3em;
      width: 40%;
    }

    span {
      &:first-child {
        color: $red;
      }
      &:nth-child(2) {
        color: $blue;
      }
      &:nth-child(3) {
        color: $yellow;
      }
    }

    div {
      width: 40px;
      height: 40px;
      background-color: $blue;
      display: inline-block;
      margin-left: .125em;

      @media handheld, screen and (max-width: $mobile-width) {
        width: 20px;
        height: 20px;
      }
    }
  }

  .game-stats-container {
    width: 61%;

    @media handheld, screen and (max-width: $mobile-width) {
      width: 65%;
    }


    .game-moves,
    .game-wins,
    .game-levels {
      text-align: center;
      padding: 10px 0 0;
      margin-right: 5px;
      width: 75px;
      height: 75px;
      float: right;
      background-color: $red;
      transition: all .5s ease-in-out;
      overflow: hidden;

      @media handheld, screen and (max-width: $mobile-width) {
        padding: 5px 0 0;
        width: 45px;
        height: 45px;
      }

      > p {
        font-size: 1.25em;
        color: white;
        margin: 0;

        + p {
          font-size: 1.75em;
          margin: 10px 0 0;
        }

        @media handheld, screen and (max-width: $mobile-width) {
          font-size: .85em;

          + p {
            font-size: 1.25em;
            margin: 0;
          }
        }
      }
    }

    .game-moves {
      margin-right: 15px;
    }

    .game-levels {
      @media handheld, screen and (max-width: $mobile-width) {
        margin-right: .25em;
      }
    }
  }
}


.game-menu {
  width: 100%;
  height: 30px;
  margin-top: 20px;
  @include flexbox-display-flex;
  @include flexbox-justify(center);

  @media handheld, screen and (max-width: $mobile-width) {
    margin-top: 15px;
  }

  .redo,
  .undo,
  .restart {
    width: calc(100% / 3);
    color: $blue;
    @include flexbox-display-flex;
    @include flexbox-justify(center);
    font-size: 2em;

    .icon {
      font-size: 1.25em;
      color: $blue;
    }

    .redo-button,
    .undo-button,
    .restart-button {
      transition: all .35s ease;

      &:hover {
        color: $red;
        cursor: pointer;
      }
    }

    .redo-button,
    .restart-button {
      &:hover {
        transform: rotate(360deg);
      }
    }

    .undo-button {
      &:hover {
        transform: rotate(-360deg);
      }
    }
  }
}
