.instruct-title {
  background-color: $blue-deep;
  height: 60px;

  > h1 {
    color: white;
    font-family: $fonts;
    margin: 0 auto;
  }
}

.game-instructions {
  background-color: $blue;
  padding: 0 15px;
  @include flexbox-display-flex;
  @include flexbox-justify(center);
}

.game-instructions p {
  padding: 0 15px 15px;
  text-align: center;
  margin-bottom: 15px;
  font-weight: 300px;
  line-height: 2em;
  border-bottom: 1px solid lightgray;
}

.game-instructions p:first-child {
  color: $blue;
}

.game-instructions p:nth-child(2) {
  color: $red;
}

.game-instructions p:last-child {
  color: $blue;
  border-bottom: none;
}

.game-instructions p span {
  color: $blue;
  font-weight: 500;
}

.game-instructions p:last-child span {
  color: $red;
}

.ui-icon-loading + h1 {
  display: none;
}

.game-notes {
  margin-top: 30px;
  text-align: center;
}

.game-notes .notes p {
  color: $blue;
  font-weight: 400;
}

.game-notes .notes p a {
 text-decoration: none;
 color: $red;
}

@media handheld, screen and (max-width: 520px) {

  .game-instructions p {
    font-size: .85em;
  }

}

.instructions-btn {
  margin-top: 20px;
  text-align: center;
}

button {
	border: none;
	padding: 0.6em 1.2em;
	background-color: $red;
	color: white;
	font-size: 1em;
	letter-spacing: 1px;
	cursor: pointer;
	display: inline-block;
  transition: all .25s ease-in-out;

  &:hover {
    @include shadow(2px 4px 14px -1px rgba(0,0,0,0.50));
  }

  &:focus {
   outline: none;
  }
}
