.modal {
  background: none;

  .instruct-title {
    background-color: $blue-deep;
    height: 75px;

    > h1 {
      color: white;
      font-family: $fonts;
      margin: 0 auto !important;
      line-height: 175%;
    }
  }

  .game-instructions {
    background-color: $blue;
    padding: 15px 20px;
    text-align: center;

    p {
      color: white;
      font-size: 1.125em;
      font-weight: 300;
      margin: 15px auto;

      span {
        font-weight: 500;
      }
    }

    .modal-close {
      margin-top: 15px;
    }
  }
}

.instructions-btn {
  margin-top: 10px;
  text-align: center;
}

button {
	border: none;
	padding: 0.6em 1.2em;
	background-color: $red;
	color: white;
	font-size: 1em;
	letter-spacing: 1px;
	cursor: pointer;
	display: inline-block;
  transition: all .25s ease-in-out;

  &:hover {
    @include shadow(2px 4px 14px -1px rgba(0,0,0,0.50));
  }

  &:focus {
   outline: none;
  }
}
