$prefix:'-moz-', '-webkit-', '-o-', '';

@mixin keyframes($name) {
  @-webkit-keyframes $name {
    @content;
  }
  @-moz-keyframes $name {
    @content;
  }
  @-o-keyframes $name {
    @content;
  }
  @keyframes $name {
    @content;
  }
}

@include keyframes(fadeIn) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@mixin animation($name, $duration, $timing, $delay, $fill) {
  @each $p in $prefix {
    #{$p}animation-name: $name;
    #{$p}animation-duration: $duration;
    #{$p}animation-timing-function: $timing;
    #{$p}animation-delay: $delay;
    #{$p}animation-fill-mode: $fill;
  }
}
