$mobile-width: 520px;

* {
  font: inherit;
  box-sizing: border-box;
  -oz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $background;
}

html {
  font-size: 1em;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}

#main-container {
  margin: 0 auto;
  padding-top: 20px;
  width: 500px;
  transition: width .25s ease-out;

  @media handheld, screen and (max-width: $mobile-width) {
    width: 310px;
  }
}

// Toggled Classes
.display-none {
  display: none !important;
}

.block {
  display: block !important;
}

.game-over {
  display: block !important;
}
